<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hyper Lambda</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.9.1/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.9.1/lib/index.js"></script>
    <script src="hyperlambda.js"></script>
</head>

<body>
<div id="index">
    <el-alert
            title="λ Hyper Lambda - Online lambda calculus calculator based on LamcalcJ λ"
            type="success"
            :closable=false>
    </el-alert>
    <el-input
            v-model="input"
            type="textarea"
            rows=10
            resize="both"
            placeholder="Input">
    </el-input>
    <el-input
            v-model="output"
            type="textarea"
            rows=10
            resize="both"
            placeholder="Output">
    </el-input>
    <el-button v-on:click="loadExample()" size="mini" round>Load example</el-button>
    <div style="font-size: 12px;">
        Max step:
        <el-input-number v-model="betaReduceConfig.maxStep" :min="0" :max="2147483647" :controls=false
                         size="mini"></el-input-number>
        Max size:
        <el-input-number v-model="betaReduceConfig.maxSize" :min="0" :max="2147483647" :controls=false
                         size="mini"></el-input-number>
        Max depth:
        <el-input-number v-model="betaReduceConfig.maxDepth" :min="0" :max="2147483647" :controls=false
                         size="mini"></el-input-number>
        <el-checkbox v-model="betaReduceConfig.headOnly">Head only</el-checkbox>
        <el-checkbox v-model="betaReduceConfig.evaluationOnly">Evaluation only</el-checkbox>
        <el-button v-on:click="betaReduce()" size="mini" round>Beta reduce</el-button>
    </div>
    <div style="font-size: 12px;">
        Max step:
        <el-input-number v-model="etaConvertConfig.maxStep" :min="0" :max="2147483647" :controls=false
                         size="mini"></el-input-number>
        Max size:
        <el-input-number v-model="etaConvertConfig.maxSize" :min="0" :max="2147483647" :controls=false
                         size="mini"></el-input-number>
        Max depth:
        <el-input-number v-model="etaConvertConfig.maxDepth" :min="0" :max="2147483647" :controls=false
                         size="mini"></el-input-number>
        <el-checkbox v-model="etaConvertConfig.headOnly">Head only</el-checkbox>
        <el-checkbox v-model="etaConvertConfig.evaluationOnly">Evaluation only</el-checkbox>
        <el-button v-on:click="etaConvert()" size="mini" round>Eta convert</el-button>
    </div>
    <el-alert v-if="showAlert" v-on:close="showAlert = false" :title="alertTitle" :type="alertType" show-icon></el-alert>
    <el-link href="faq.html" type="primary">FAQ</el-link>
    <el-link href="https://github.com/yuxuanchiadm/hyperlambda" type="primary">Github</el-link>
</div>
<script src="index.js"></script>
</body>

</html>
